section.about
  h5.hidden about
  .about__wrap
    .about__item
      .about__image
        img(src="/img/bg-about.jpg" alt="")
    .about__item.about__info.section.section--right.section--gray
      .section__wrap
        h2.section-title Sed faucibus quis
        p.section-text Fusce bibendum luctus massa,  ut tincidunt lectus tincidunt in.  Nulla tristique ipsum vitae lacus  ullamcorper, at dictum nunc  scelerisque.

