footer.footer
  .inner__wrap
    .footer__wrap

      .footer__copyright
        h3.footer__title AMAZING DUDE. AMAZING LIFE.
        p.footer__text Mauris ornare lobortis arcu, at sodales dolor finibus nec. In convallis risus ligula, bibendum sagittis ante cursus vitae. Donec ornare, dui nec sagittis imperdiet, nunc eros dignissim augue, ut aliquam nibh felis sit amet leo. Vivamus eu tincidunt tellus. Vestibulum quis condimentum lectus, nec aliquet lectus. Duis sollicitudin facilisis dui ac aliquet. Phasellus tempor sollicitudin augue, id hendrerit enim gravida non. Integer consequat vel arcu quis dictum. Vestibulum viverra commodo nunc eu pellentesque. Phasellus in scelerisque elit, eu ultricies mauris.  
        br
        p.footer__text Ⓒ2015. all rights reserved.

      .footer__contact
        h3.footer__title contact me
        p.footer__text 1242 Crestview Terrace Artesia Wells, TX 78001
        br
        p.footer__text Phone: 830-676-7974
        p.footer__text Email: halo@sitename.com
      .footer__social
        h3.footer__title follow me on
        ul
          li
            a.social__link(href="") facebook
              svg.social__logo(xmlns:xlink="http://www.w3.org/1999/xlink")
                use(xlink:href="/img/symbol/sprite.svg#facebook-logo")
          li
            a.social__link(href="") tweeter
              svg.social__logo(xmlns:xlink="http://www.w3.org/1999/xlink")
                use(xlink:href="/img/symbol/sprite.svg#twitter-black-shape")
          li
            a.social__link(href="") instagram
              svg.social__logo(xmlns:xlink="http://www.w3.org/1999/xlink")
                use(xlink:href="/img/symbol/sprite.svg#instagram-logo")
          li
            a.social__link(href="") spotify
              svg.social__logo(xmlns:xlink="http://www.w3.org/1999/xlink")
                use(xlink:href="/img/symbol/sprite.svg#spotify")

      .footer__subscribe
        h3.footer__title subscribe
        p.footer__text Duis sollicitudin facilisis dui ac aliquet. Phasellus tempor sollicitudin augue, id hendrerit enim gravida non. Integer consequat vel arcu quis dictum. Vestibulum viverra commodo nunc eu pellentesque.
        .footer__input-group
          input.footer__input(type='email' placeholder="enter you email address")
          svg.footer__input-ico(xmlns:xlink="http://www.w3.org/1999/xlink")
            use(xlink:href="/img/symbol/sprite.svg#arrow-pointing-to-right")
      .footer__sponsors
        h3.footer__title sponsors
        .footer__sponsors-items
          a.footer__sponsors-item(href="") logo
          a.footer__sponsors-item(href="") logo
          a.footer__sponsors-item(href="") logo
