section.gallery
  h5.hidden gallery
  .gallery__item-1
    img(src="/img/thumb-1.jpg" alt="")
  .gallery__item-2
    img(src="/img/thumb-2.jpg" alt="")
  .gallery__item-3
    img(src="/img/thumb-3.jpg" alt="")
  .gallery__item-4
    img(src="/img/thumb-4.jpg" alt="")

  .gallery__info.section.section--left
    .section__wrap
      h2.section-title instagram
      p.section-text Etiam lacus dolor, tincidunt vitae  nisi in, vulputate placerat odio. Pellentesque iaculis.
      a.btn.btn--white view on instagram

  .gallery__image
    img(src="/img/thumb-5.jpg" alt="")