header.header
  .inner__wrap
    .header__wrap
      nav.navbar
        a.logo(href="") LOGO

        ul.nav-list
          li
            a.nav-link(href="") Quis
          li
            a.nav-link(href="") Music
          li
            a.nav-link(href="") Subscribe

        ul.nav-collapse.sidenav
          li.nav-item
            a.nav-link(href="") Quis
          li.nav-item
            a.nav-link(href="") Music
          li.nav-item
            a.nav-link(href="") Subscribe

        a.toggle-menu(href="")
          i.material-icons menu

      .hero
        h1.hero__title Amazing Dude.   Amazing Life.
        p.hero__subtitle Welcome to the personal site of &nbsp;
          span John Doe.
          br
          |  A professional skier and a musician.

  //svg.header-bg(xmlns:xlink="http://www.w3.org/1999/xlink")
  //  use(xlink:href="/img/symbol/sprite.svg#bg-hero-1")
