section.music

  .music__top
    .music__blank-space

    .music__self
      h2.section-title.section-title--green Self-Effacing Rage
      .section-subtitle FT. Fascinating Collision
      ul.music__list
        li.music__list-item Director: James G. Rohrer
        li.music__list-item Director: James G. Rohrer
        li.music__list-item Director: James G. Rohrer
        li.music__list-item Director: James G. Rohrer
      a.btn.btn--green.btn--icon.music__btn-play click to play

  .music__bottom
    .music__subscribe
      .music__subscribe--left.section.section--left
        .section__wrap
          h2.section-title spotify
          p.section-text Follow me, stream and add  my songs to your Spotify playlist.
          a.btn.btn--white follow on spotify
      .music__subscribe--right.section.section--right
        .section__wrap
          h2.section-title itunes
          p.section-text Buy and download my songs from iTunes.
          a.btn.btn--white buy from itunes
